

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                    supported by Chrome, Edge, Opera and Firefox */
}



body {
    overflow:hidden;
    background:black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: url('img/cursor2.cur'), auto;

    touch-action: pan-x pan-y;
}

A {
    color: black;
}

A:HOVER{cursor: pointer;}

H2 {font-weight:normal;}

UL {
    margin: 10px 0;
}

LI {
    margin-bottom: 5px;
}

LI, LI A{    
    font-family: 'Oxanium', cursive;
    font-size:19px;
}


.pages{
    margin-left:-30px;
}

#content_finish{margin-top: -40px;}
#content_finish h2{text-align:left !important;}

button:focus{
    outline: none;
}

#tooltip{
    font-family:arial;
    text-align:center;
    position:fixed;
    z-index:3;
    left:0;
    bottom:0;
    width:100%;
    padding:5px 10px;
    color:#fff;
    background:black;
    opacity:0.7;
}

#play{
    cursor:pointer;
    border:1px #ccc solid;
    display:none;
    padding:5px 0;
    width:180px;
    background:white;
    position:fixed;
    left:50%;
    margin-left:-90px;
    text-align:center;
    font-family: Arial;
    z-index:999;
    text-decoration:none;
    top:0;
}

#lang{
    display:none;
    z-index:9999;
    font-size:20px;
    position:fixed;
    top:5px;
    right:10px;
    color:white;
    text-decoration:none;
    font-family: 'Oxanium', cursive;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
}


#villager {
    display:none;
    background: url('img/boina_stopped2.png');
    background-repeat:no-repeat;
    width: 80px;
    height: 100px;
    z-index: 3;
    position: fixed;
    background-size: auto 90px;
    background-position: center center;
    image-rendering: pixelated;
}

.enemy {
    cursor: url('img/cuchillo2.cur'), auto;
    display:none;
    background-image: url('img/villager_stopped2.gif');
    background-repeat:no-repeat;
    width: 70px;
    height: 90px;
    z-index: 3;
    position: fixed;
    background-size: auto 90px;
    background-position: center center;
    image-rendering: pixelated;
}

.soldier_walking {
    background-image: url('img/villager_walking2.gif');
    z-index:4;
}

.soldier_spot {
    border:2px #00ff00 dashed;
}

.box{
    z-index:4;
    background:url('img/box5.png');
    background-size:cover;
    position:fixed;
    top:-100px;
    width:70px;
    height:81px;
    left:50%;
    image-rendering: pixelated;
}

.box_info{
    box-shadow: -1px -1px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    color: white;
    position: absolute;
    margin-top: 15px;
    width: 131px;
    margin-left: 35px;
    font-size: 20px;
    font-family: 'Oxanium', cursive;
    border-top: 1px white solid;
    border-left: 1px white solid;
    text-align: left;
    height: 45px;
    padding-left: 6px;
    padding-top: 4px;
    text-transform: uppercase;
    opacity:0;
}

.paracaidas{
    position:absolute;
    margin-left:-66px;
    margin-top:-229px;
}



#eagle {
    display:none;
    opacity:0.5;
    background: url('img/avion_sombra2.png');
    width: 350px;/* 216px;*/
    height:311px;/* 192px;*/
    background-size:cover;
    z-index: 3;
    position: fixed;
    image-rendering: pixelated;
}


.villager_flip_x {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#villager.villager_walking {
    background-size: auto 110px !important;
    background-image: url('img/boina_walking2.gif') !important;
}



.soldier_died {
    background-size: auto 65px;
    background-image: url('img/soldier_died.png') !important;
}

#land {
    background-image:url('img/fondo2.png');
    display:none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-repeat:no-repeat;
    background-size:100% auto;
    background-position:left bottom;
    top: 0;
    left: 0;
    image-rendering: pixelated;
}

#canvas {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#paper {
    max-width: 100%;
    max-height: 100%;
    display: none;
    position: fixed;
    background: url('img/paper3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    z-index: 99;
    font-family: 'Oxanium', cursive;
    font-size: 30px;
    padding: 100px 60px 155px 60px;
    width: 280px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-right: -200px;
    margin-top: -300px;
}

#paper h2 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

BUTTON {
    background: #ffd897;
    font-size: 30px;
    padding: 10px 0;
    border-radius: 100px;
    display: block;
    width: 60px;
    margin: auto;
    font-family: arial;
    font-weight: bold;
    border: 0;
    color:black;
}

BUTTON:HOVER {
    background: #fff;
    cursor:pointer;
}

.flake {
    z-index: 100;
    position: fixed !important;
}

.blur {
    filter: blur(3px) grayscale(100%);
    -webkit-filter: blur(3px) grayscale(100%);
}



.button{display:block;margin-top:15px;border:5px black solid;font-weight:bold;font-size:25px;color:black;text-decoration:none;padding:10px;padding: 10px;
    width: 200px;
    text-align: center;}

.button:hover{color:white;background:black;}

.alarm{
    opacity:0.9;
    display:none;
    background:url('img/alarm2.gif');
    position:fixed;
    bottom:-98px;
    width:100px;/*150px;*/
    height:98px;/*147px;*/
    z-index:1;
    background-size:cover;
}

@media only screen and (max-width: 480px){



    #tooltip{display:none;}


    #land {background-size:auto;}

    #play{left:0;margin-left:0;width:100%;top:auto;bottom:0;}

}





#special{display:none;position:fixed;z-index:9999;left:10px;top:0;width:50px;}
#special img{cursor:pointer;border-radius:100px;border:2px black solid;margin:10px 0 0 0;width:40px;height:40px;background:black;}


/*firefox hack*/

@-moz-document url-prefix() { 

    #villager {
        image-rendering: crisp-edges;
    }

    .enemy {
        image-rendering: crisp-edges;
    }

    #eagle {
        display:none;
        image-rendering: crisp-edges;
    }

    .box{
        image-rendering: crisp-edges;
    }

    #land {
        image-rendering: crisp-edges;
    }

}
