

body {
    overflow:hidden;
    background:black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: url('img/cursor.cur'), auto;

}

A {
    color: black;
}

A:HOVER{cursor: pointer;}

H2 {font-weight:normal;}

UL {
    margin: 10px 0;
}

LI {
    margin-bottom: 5px;
}

LI, LI A{    
    font-family: 'Oxanium', cursive;
    font-size:19px;
}

#credits{
    z-index:2;
    font-size:20px;
    position:fixed;
    top:5px;
    right:10px;
    color:white;
    text-decoration:none;
    font-family: 'Oxanium', cursive;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
}

.pages{
    margin-left:-30px;
}

button:focus{
    outline: none;
}

#tooltip{font-family:arial;text-align:center;position:fixed;z-index:3;left:0;bottom:0;width:100%;padding:5px 10px;color:#fff;background:black;opacity:0.7;}

#villager {
    display:none;
    background: url('img/villager_stopped.gif');
    width: 70px;
    height: 100px;
    z-index: 3;
    position: fixed;
    background-size: auto 100%;
    background-position: center center;
    image-rendering: crisp-edges;
}

.box{
    z-index:4;
    background:url('img/box4.png');
    background-size:cover;
    position:fixed;
    top:-100px;
    width:70px;
    height:81px;
    left:50%;
}

/*
.box_info{
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    color: red;
    position: absolute;
    top: 78px;
    width: 190px;
    text-align: center;
    margin-left: -60px;
    font-size: 30px;
    font-family: 'Oxanium', cursive;
    font-weight: bold;
    display: none;
}*/

.box_info{
    box-shadow: -1px -1px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    color: white;
    position: absolute;
    margin-top: 15px;
    width: 131px;
    margin-left: 35px;
    font-size: 20px;
    font-family: 'Oxanium', cursive;
    border-top: 1px white solid;
    border-left: 1px white solid;
    text-align: left;
    height: 45px;
    padding-left: 6px;
    padding-top: 4px;
    text-transform: uppercase;
    opacity:0;
}

.paracaidas{
    position:absolute;
    margin-left:-66px;
    margin-top:-229px;
}

.tree {
    background: url('img/tree.png');
    width: 80px;
    height: 100px;
    background-size: contain;
    z-index: 1;
    position: fixed;
    opacity:0.8;
}

.palm {
    opacity:1;
    background-image: url('img/palm.png');

}

.tree_snow {
    opacity:0.8;
    background-image: url('img/tree_snow_.png');

}


#eagle {
    display:none;
    opacity:0.5;
    background: url('img/avion_sombra.png');
    width: 350px;/* 216px;*/
    height:311px;/* 192px;*/
    background-size:cover;
    z-index: 3;
    position: fixed;
    image-rendering: crisp-edges;
}


.villager_flip_x {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.villager_walking {
    background-image: url('img/villager_walking.gif') !important;
}

#land {
    background-image:url('img/fondo.png');
    display:none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-repeat:no-repeat;
    background-size:100% auto;
    background-position:left bottom;
    top: 0;
    left: 0;
    image-rendering: crisp-edges;
}

#canvas {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#paper {
    max-width: 100%;
    max-height: 100%;
    display: none;
    position: fixed;
    background: url('img/paper3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    z-index: 99;
    font-family: 'Oxanium', cursive;
    font-size: 30px;
    padding: 100px 60px 155px 60px;
    width: 280px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-right: -200px;
    margin-top: -300px;
}

#paper h2 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

BUTTON {
    background: #ffd897;
    font-size: 30px;
    padding: 10px 0;
    border-radius: 100px;
    display: block;
    width: 60px;
    margin: auto;
    font-family: arial;
    font-weight: bold;
    border: 0;
    color:black;
}

BUTTON:HOVER {
    background: #fff;
    cursor:pointer;
}

.flake {
    z-index: 100;
    position: fixed !important;
}

.blur {
    filter: blur(3px) grayscale(100%);
    -webkit-filter: blur(3px) grayscale(100%);
}



.alarm{
    opacity:0.9;
    display:none;
    background:url('img/alarm.gif');
    position:fixed;
    bottom:-98px;
    width:100px;/*150px;*/
    height:98px;/*147px;*/
    z-index:1;
    background-size:cover;
}

@media only screen and (max-width: 480px){



    #tooltip{display:none;}


    #land {
        background-size:auto;}



}





#special{position:fixed;z-index:9999;left:10px;top:0;width:50px;}
#special img{border-radius:100px;border:2px black solid;margin:10px 0 0 0;width:40px;height:40px;}
